::-webkit-scrollbar{
    width: 0px;}
::-webkit-scrollbar-thumb{
    background: black;
}
*{
	scroll-behavior: smooth;
	margin:0;
	padding:0;
	font-family: 'Edu NSW ACT Foundation', cursive;
}

body{
	 margin: 20px;
	 scroll-behavior: smooth;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-color: black;
	 background: linear-gradient(to right, #000046, #1cb5e0); 
}
#check{
	display: none;
}
header{
	background-color: white;
	position:relative;
    left: 0;	
    top: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
	background-color: white;
}
header h1{
	padding: 20px;
	display: inline-block;
	float: left;
}
header h1 a {
	color: #19376D;
	transition: 0.2s;
}
header h1 a:hover{
	font-size: 50px;
	transition: 0.2s;
}
header h1 a:hover{
	color: #576CBC;
}
header ul{
	float: right;
}
header ul a{
	transition: 0.3s;
	padding: 10px;
	color: #19376D;
	font-size: 20px;
	border-radius: 20px;
}
header ul a:hover{
	margin-left: 20px;
	color: #576CBC;
}
header ul li{
	color: #042036;
	transition: 0.2s;
	padding: 24px;
	display: inline-block;
}
a{
	text-decoration: none;
}
.mobile-menu{
	float: right;
	padding: 20px;
	display: none;
}
.mobile-menu:hover{
	cursor: pointer;
}
@media (max-width: 888px){
	.mobile-menu{
		display: block;
		margin-left: -38px;
	}
	header ul{
		display: none;
	}
}

.sidebar{
	position: fixed;
	transition: 0.3s;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: rgba(38, 42, 86, .9);
}
.sidebar h1{
	top: 0;
	text-decoration: none;
	padding: 20px;
	color: #002B5B;
	background-color: black;
}
.sidebar ul li{
	padding: 20px;
}
.sidebar ul li a{
	transition-property: background-color;
	color: #FFFFFF;
}
.sidebar ul li a:hover{
	color: #576CBC;
	transition: 0.3s;
}
.sidebar ul li:hover{
	border-bottom: white solid;
	margin-left: 20px;
	transition: 0.3s;
}
#check:checked ~ .sidebar{
	left: 0;
	transition: 0.3s;
}
#check:checked ~ footer{
	bottom: -200px;
	transition: 0.3s;
}

.container{
	width: 100%;
	margin: 0 auto;
}
.container:after{
	content: '';
	display: block;
	clear: both;
}
.container h2{
	font-size: 50%;
}
.gambar1{
	justify-content: center;
	margin-bottom: 100px;
}
.gambar1 img{
  	width: 320px;
  	margin-top: 200px;
  	margin-bottom: 30px;
	float: right;
	transition: 0.3s;
	margin-left: 200px;
	margin-right: 20px;
	flex: 1 0 100%;
}
.gambar1 img:hover{
	width: 400px;
	margin-right: -15px;
	transition: 0.3s;
}




.gambar2{
	justify-content: center;
	margin-bottom: 400px;
}
.gambar2 img{
  	width: 320px;
  	margin-top: 20px;
  	margin-bottom: 30px;
	float: left;
	transition: 0.3s;
	margin-right: 20px;
	flex: 1 0 100%;
}
.gambar2 img:hover{
	width: 400px;
	margin-right: -15px;
	transition: 0.3s;
}

@media (max-width:380px){
	.gambar1 img{
		width: 270px;
		margin-right: 25px;
	}
	.gambar1 h2{
		font-size: 20px;
	}
		
	.gambar2 img{
		width: 250px;
		margin-right: 25px;
	}
	.gambar2 h2{
		font-size: 20px;
	}
}
@media (max-width:350px){
	.gambar1 img{
		width: 250px;
		margin-right: 20px;
	}
	.gambar1 h2{
		font-size: 20px;
	}
	.gambar2 img{
		width: 200px;
		margin-right: 20px;
	}
	.gambar2 h2{
		font-size: 20px;
	}
}@media (max-width:490px){
	.gambar2 img{
		width: 200px;
		margin-left: 100px;
	}
	.gambar2 h2{
		font-size: 20px;
	}
}
@media (max-width:340px){
	.gambar1 img{
		width: 150px;
		margin-right: 75px;
	}
	.gambar1 h2{
	font-size: 15px;
	}
	.gambar2 img{
		width: 200px;
		margin-left: 50px;
	}
	.gambar2 h2{
		font-size: 20px;
	}
}
@media (max-width:340px){
	.gambar1 img{
		width: 150px;
		margin-right: 40px;
	}
	.gambar1 h2{
	font-size: 15px;
	}
	.gambar2 img{
		width: 200px;
		margin-left: 28px;
	}
	.gambar2 h2{
		font-size: 20px;
	}
}



.gambar1 .h2{
	font-size: 20px;
	color: white;
	padding-top: 350px;
	text-align: center;
}

.gambar2 img{
  	width: 355px;
  	margin-top: 200px;
  	margin-bottom: 30px;
	float: left;
	transition: 0.3s;
	margin-right: 20px;
	flex: 1 0 100%;
}
.gambar2 img:hover{
	width: 380px;
	margin-right: -15px;
	transition: 0.3s;
}
@media (max-width:439){
	.gambar2 img{
		float: center;
	}
}
.gambar2{
	font-size: 20px;
	color: white;
	padding-top: 50px;
	margin-top: 0px;
}
.gambar2 h1{
	color: white;
	font-size: 40px;
	text-align: center;
}
.gambar2 h{
	color: white;
	font-size: 40px;
	text-align: center;
}

footer{
	background:#f0f0f0;
	position:fixed;
	bottom:0;
	transition: 0.4s;
	width:100%;
	text-align: center;
	margin-left: -20px;
	padding: 20px;
    text-align:center;color:#808080;
}
footer h1{
	font-size: 10px;
}
footer h2{
	font-size: 5px;
}
